* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Perpetua, serif;
  font-size: 1rem;
  color: black;
  /* line-height: 1.5; */
  line-height: calc(1.5 + (3 - 1.5) * ((100vw - 320px)/(2560 - 320)));
}

/* header */
.landing-header {
  height: 100vh;
  background-image: url('../media/images/background-3.jpg');
  background-color: #5c5c5c;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px #333;
}

.header-content {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.header-content h1 {
  font-size: 9.97vw;
}

.header-content span {
/* fluid font-size mathamatic formula adapted from https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */
  font-size: calc(1.5rem + (80 - 24) * ((100vw - 320px) / (2560 - 320)));
}

.header-content h2 {
  padding: 1.5rem;
  font-size: calc(1.75rem + (80 - 28) * ((100vw - 320px) / (2560 - 320)));
}

/* cards area */

.user-portals {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  padding: 1rem;
}

@media (max-width:768px){
  .user-portals{
    flex-direction: column;
  }
}

/* students card */
.students-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: calc(26.25rem + (840 - 420) * ((100vw - 320px) / (2560 - 320)));
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #6b6b75;
}

.students-card:hover {
  background-color: #ededed;
}

@media (max-width:768px){
  .students-card {
    width: 80vw;
  }
}

.students-card h1 {
  padding: 0.5rem;
  font-size: calc(1.76rem + (80 - 34) * ((100vw - 320px) / (2560 - 320)));
  color: #3d61ff;
  text-align: center;
}

.students-card-media img {
  padding: 0;
  width: 100%;
  height: calc(12.5rem + (500 - 200) * ((100vw - 320px) / (2560 - 320)));
  object-fit: cover;
}

.students-card-text{
  font-size: calc(1.5rem + (48 - 24) * ((100vw - 320px) / (2560 - 320)));
  padding: 0.5rem;
  font-family: Perpetua, serif;
}

.students-card button {
  width: calc(6.25rem + (200 - 100) * ((100vw - 320px) / (2560 - 320)));
  height: calc(3.125rem + (100 - 60) * ((100vw - 320px) / (2560 - 320)));
  padding: 8px 8px;
  font-size: calc(1.625rem + (52 - 26) * ((100vw - 320px) / (2560 - 320)));
  border: solid #b31e14;
  text-decoration: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #b31e14;
  color: white;
  border-radius: 5px;
}

.students-card button:hover {
  border: medium solid #6b6b75;
  text-decoration: none;
  background-color: white;
  color: #6b6b75;
  transition: smooth, 200ms;
  cursor: pointer;
}

/* professionals card */
.professionals-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: calc(26.25rem + (840 - 420) * ((100vw - 320px) / (2560 - 320)));
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #6b6b75;
}

.professionals-card:hover {
  background-color: #ededed;
}

@media (max-width:768px){
  .professionals-card {
    width: 80vw;
  }
}

.professionals-card h1 {
  padding: 0.5rem;
  font-size: calc(1.76rem + (80 - 34) * ((100vw - 320px) / (2560 - 320)));
  color: #3d61ff;
  text-align: center;
}

.professionals-card-media img {
  padding: 0;
  width: 100%;
  height: calc(12.5rem + (500 - 200) * ((100vw - 320px) / (2560 - 320)));
  object-fit: cover;
}

.professionals-card-text{
  font-size: calc(1.5rem + (48 - 24) * ((100vw - 320px) / (2560 - 320)));
  padding: 0.5rem;
  font-family: Perpetua, serif;
}

.professionals-card button {
  width: calc(6.25rem + (200 - 100) * ((100vw - 320px) / (2560 - 320)));
  height: calc(3.125rem + (100 - 60) * ((100vw - 320px) / (2560 - 320)));
  padding: 8px 8px;
  font-size: calc(1.625rem + (52 - 26) * ((100vw - 320px) / (2560 - 320)));
  border: solid #b31e14;
  text-decoration: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #b31e14;
  color: white;
  border-radius: 5px;
}

.professionals-card button:hover {
  border: medium solid #6b6b75;
  text-decoration: none;
  background-color: white;
  color: #6b6b75;
  transition: smooth, 200ms;
  cursor: pointer;
}

/* home button */
.home-btn {
  width: calc(4rem + (128 - 64) * ((100vw - 320px) / (2560 - 320)));
  height: calc(4rem + (128 - 64) * ((100vw - 320px) / (2560 - 320)));
  position: fixed;
  right: 6%;
  bottom: 15%;
  background: #EFBD47;
  display: flex;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: calc(3.5rem + (112 - 56) * ((100vw - 320px) / (2560 - 320)));
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px #333;
  opacity: 92%;
  transition: 0.2s;
  cursor: pointer;
}

.home-btn:hover {
  background: #87160f;
}

.home-btn:active {
  color: #87160f;
  background-color: white;
  opacity: 92%;
}

/* footer */
footer {
  display: block;
  height: calc(5% + (96 - 48) * ((100vw - 320px) / (2560 - 320)));
  background-color: #6b6b75;
  font-size: calc(1rem + (38 - 16) * ((100vw - 320px) / (2560 - 320)));
  color: white;
  padding: 0.5rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #b31e14;
}

footer p {
  font-size: calc(0.5rem + (30 - 8) * ((100vw - 320px) / (2560 - 320)));
}
